// 顏色變量
$mainColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;
$infoColor : #999;

// 字體大小
$bigFontSize: 50px;
$mainFontSize: 40px;
$secFontSize : 32px;
$thirdFontSize : 24px;
$smallFontSize : 20px;
$miniFontSize : 16px;

// 麵包屑導航樣式
@mixin bread-item {
  // 面包屑導航樣式
  .bread-container {
    padding: 25px 0;

    .el-breadcrumb {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

// hover效果變量
@mixin category-Hover  {
  transform: scale(1.05);
  box-shadow: 0 0 2px 2px rgba(0 ,0 ,0 ,0.3);
}

